<% if flash[:warning] %><%= flash[:warning] %><% end %>
<%= form_tag :action => 'login' %>
<fieldset>
  <legend>Login</legend>
    <ul>
      <li>User name: <input type="text" name="user[logon]"/></li>
      <li>Password: <input type="password" name="user[password]"/></li>
      <li><%= submit_tag("Login", option={"class"=>"button"}) %></li>
    </ul>
  </fieldset>
</form>
